.home-container{
    display: flex;
    flex-direction: column;
    padding-top: 10% ;
    height: 100%;
    justify-content: space-between;
}

.home-content{
    display: flex;
    /* height: 70%; */
}

@media screen and (max-width: 768px) {
    .home-content{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0% 3% 0% 3%;

    }
    .home-container{
        display: flex;
        flex-direction: column;
        padding-top: 13% ;
        width:  100%;
        height: 100%;
        justify-content: space-between;
    }   
}


