.project-container {
    display: flex;
    margin-top: 5rem;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    /* background-color: aquamarine; */
}

.project-element {
    padding: 3%;
    height: 100px;
    background-color: transparent;
    border-radius: 10vh;
    /* border-image: linear-gradient(to right, #9845E8, #33D2FF 30%, #DD5789 55%); */
    border: 1px solid rgba(255, 255, 255, 0.120);
    /* background-image: linear-gradient(to right, #9845E8, #33D2FF 30%, #DD5789 55%);; */
    display: flex;
    width: 70%;
    flex-direction: row;
    align-items: center;
    padding: 10% 0% 10% 0%;
    margin: 2% 0% 2% 0%;
    overflow: hidden;
    transition: background-color 500ms;
}

.project-element:hover {
    /* padding: 10%; */
    background-color: white;
    /* background-image: linear-gradient(to right, #9845E8, #33D2FF 30%, #DD5789 55%);; */
    display: flex;
    /* flex-direction: row; */
}

.project-header {
    display: flex;
    /* margin: 0% 10% 0% 10%; */
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
}

.tile-details {
    display: flex;
    align-items: center;
    width: 85%;
    justify-content: space-between;
    margin: 0% 10% 0% 10%;
    border-radius: 1vh;
    padding: 2% 5% 2% 5%;
}

p {
    background-color: transparent;
}

.project-img {
    display: flex;
    align-items: center;
    width: 180%;
    height: 400%;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .project-container {
        margin-top: 10%;
    }

    .project-element {
        padding: 10% 0% 10% 0%;
        width: 100%;
    }

    .project-img {
        display: flex;
        align-items: center;
        width: 180%;
        height: 400%;
        overflow: hidden;
    }

    .tile-details {
        width: 100%;
        margin: 0% 0% 0% 0%;
    }

    .project-element:hover {
        padding: 10%;
    }

    .h1-div {
        height: 100px;
    }

    .project-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

}