@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    justify-content: center;
    display: flex;
    z-index: 10000;
}

.content {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}

.buttons-row {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

.button-navbar {
    background-color: #ffffff00;
    padding: 2%;
    text-decoration: none;
    border-radius: 1vh;
    transition-property: background-color;
    transition-property: color;
    transition: 500ms ease-in;
    font-family: 'Space Mono', monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}

.button-navbar:hover {
    background-color: #e9e9e9;
    color: black;
    font-family: 'Space Mono', monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}

@media screen and (max-width: 768px) {
    .buttons-row {
        width: 95%;
        background-image: linear-gradient(to right, #9845E8, #33D2FF 40%, #DD5789 100%);
        padding: 1%;
        border-radius: 1vh;
        margin-bottom: 10%;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .button-navbar {
        /* background-color: #121212; */
        padding: 2%;
        font-size: smaller;
        text-decoration: none;
        border-radius: 1vh;
    }

    .button-navbar:hover {
        background-color: #121212;
        color: white;
    }

    
}