@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.navbar {
    padding: 1%;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttons-row {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

.button-navbar {
    background-color: #ffffff00;
    padding: 2%;
    border-radius: 1vh;
    transition-property: background-color;
    transition-property: color;
    transition: 500ms ease-in;
    font-family: 'Space Mono', monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}

.button-navbar:hover {
    background-color: #e9e9e9;
    color: black;
    font-family: 'Space Mono', monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}