@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  background: #121212;
  color: #E9e9e9;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  /* height: 97vh; */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  /* background-color: aquamarine; */
  padding-left: 15%;
  padding-right: 15%;
}



p {
  font-family: 'Space Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
}

/* h1 {
  margin: 0;
  padding: 0;
} */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body{
    padding-left: 2%;
    padding-right: 2%;
    justify-content: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body{
    padding-left: 5%;
    padding-right: 5%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body{
    padding-left: 5%;
    padding-right: 5%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body{
    padding-left: 10%;
    padding-right: 10%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body{
    padding-left: 15%;
    padding-right: 15%;
  }
}